<h1>New Practitioner</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.practitioner_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.practitioner_path(@conn, :index) %></span>
