<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Online Dr" %></h1>
  <p>prototype for dr dropins full stack use case</p>
</section>

<section class="row">
  <article class="column">
    <ul>
      <li>
        <%= link "Clinics", to: Routes.clinic_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Practitioners", to: Routes.practitioner_path(@conn, :index) %>
      </li>
    </ul>
  </article>
</section>
