<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Online Dr" %></h1>
  <p>prototype for dr dropins full stack use case</p>
</section>

<section class="row">
  <article class="column">
    <h2>Links</h2>
    <ul>
      <li>
        
      </li>
      <li>
        
      </li>
    </ul>
  </article>
</section>
